.contents-view {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 300px;
    padding: 300px 0px;
    position: relative;
    width: 440px;
  }
  
  .contents-view .about-us {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 80px;
    padding: 0px 28px;
    position: relative;
    width: 100%;
  }
  
  .contents-view .frame {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    gap: 16px;
    justify-content: center;
    position: relative;
    width: 100%;
  }
  
  .contents-view .image {
    height: 178px;
    margin-left: -28.00px;
    object-fit: cover;
    position: relative;
    width: 12px;
  }
  
  .contents-view .img {
    height: 216px;
    object-fit: cover;
    position: relative;
    width: 384px;
  }
  
  .contents-view .image-2 {
    height: 178px;
    margin-right: -28.00px;
    object-fit: cover;
    position: relative;
    width: 12px;
  }
  
  .contents-view .prev {
    height: 12px;
    left: 17px;
    position: absolute;
    top: 102px;
    width: 7px;
  }
  
  .contents-view .next {
    height: 6px;
    left: -5092px;
    position: absolute;
    top: 6528px;
    width: 11px;
  }
  
  .contents-view .div {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 40px;
    position: relative;
    width: 100%;
  }
  
  .contents-view .text-wrapper {
    align-self: stretch;
    color: #000000;
    font-family: "GenEi Gothic M-SemiLight", Helvetica;
    font-size: 32px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 48px;
    margin-top: -1.00px;
    position: relative;
    text-align: center;
  }
  
  .contents-view .text-wrapper-2 {
    align-self: stretch;
    color: #000000;
    font-family: "GenEi Gothic M-SemiLight", Helvetica;
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 39px;
    position: relative;
    text-align: center;
  }
  
  .contents-view .text-wrapper-3 {
    align-self: stretch;
    color: #000000;
    font-family: "GenEi Gothic M-SemiLight", Helvetica;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 40px;
    opacity: 0.5;
    position: relative;
    text-align: center;
  }
  
  .contents-view .overview {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 40px;
    max-width: 1080px;
    position: relative;
    width: 100%;
  }
  
  .contents-view .element {
    border-radius: 40px;
    height: 540px;
    margin-left: -320.00px;
    margin-right: -320.00px;
    overflow: hidden;
    position: relative;
    width: 1080px;
  }
  
  .contents-view .image-3 {
    height: 540px;
    left: 320px;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 440px;
  }
  
  .contents-view .frame-2 {
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    gap: 24px;
    margin-left: -320.00px;
    margin-right: -320.00px;
    padding: 0px 16px;
    position: relative;
    width: 1080px;
  }
  
  .contents-view .head {
    align-items: flex-start;
    display: flex;
    gap: 40px;
    padding: 3px 0px;
    position: relative;
    width: 580px;
  }
  
  .contents-view .text-wrapper-4 {
    color: #000000;
    font-family: "GenEi Gothic M-SemiLight", Helvetica;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 29px;
    margin-top: -1.00px;
    opacity: 0.5;
    position: relative;
    width: 100px;
  }
  
  .contents-view .text-wrapper-5 {
    color: #000000;
    flex: 1;
    font-family: "GenEi Gothic M-SemiLight", Helvetica;
    font-size: 36px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 48px;
    margin-top: -1.00px;
    position: relative;
  }
  
  .contents-view .text-wrapper-6 {
    color: #000000;
    flex: 1;
    font-family: "GenEi Gothic M-SemiLight", Helvetica;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 32px;
    margin-top: -1.00px;
    position: relative;
  }
  
  .contents-view .vector {
    align-self: stretch;
    height: 1px;
    object-fit: cover;
    position: relative;
    width: 100%;
  }
  
  .contents-view .point {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 80px;
    max-width: 760px;
    position: relative;
    width: 100%;
  }
  
  .contents-view .text-wrapper-7 {
    align-self: stretch;
    color: #000000;
    font-family: "GenEi Gothic M-SemiLight", Helvetica;
    font-size: 36px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 48px;
    margin-top: -1.00px;
    position: relative;
  }
  
  .contents-view .frame-3 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 16px;
    margin-left: -160.00px;
    margin-right: -160.00px;
    position: relative;
  }
  
  .contents-view .frame-4 {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    gap: 24px;
    justify-content: center;
    position: relative;
    width: 760px;
  }
  
  .contents-view .image-wrapper {
    border-radius: 30px;
    height: 540px;
    overflow: hidden;
    position: relative;
    width: 360px;
  }
  
  .contents-view .image-4 {
    height: 540px;
    left: 160px;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 200px;
  }
  
  .contents-view .frame-5 {
    align-items: flex-start;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    gap: 40px;
    padding: 20px 0px;
    position: relative;
  }
  
  .contents-view .text-wrapper-8 {
    align-self: stretch;
    color: #000000;
    font-family: "GenEi Gothic M-SemiLight", Helvetica;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 18px;
    margin-top: -1.00px;
    opacity: 0.5;
    position: relative;
  }
  
  .contents-view .text-set {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 20px;
    position: relative;
    width: 100%;
  }
  
  .contents-view .text-wrapper-9 {
    align-self: stretch;
    color: #000000;
    font-family: "GenEi Gothic M-SemiLight", Helvetica;
    font-size: 32px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 40px;
    margin-top: -1.00px;
    position: relative;
  }
  
  .contents-view .text-wrapper-10 {
    align-self: stretch;
    color: #000000;
    font-family: "GenEi Gothic M-SemiLight", Helvetica;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 24px;
    position: relative;
  }
  
  .contents-view .text-wrapper-11 {
    align-self: stretch;
    color: #00000080;
    font-family: "GenEi Gothic M-SemiLight", Helvetica;
    font-size: 10px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 18px;
    position: relative;
  }
  
  .contents-view .frame-6 {
    align-items: center;
    background-color: #f0f0f4;
    border-radius: 40px;
    display: flex;
    flex: 0 0 auto;
    gap: 16px;
    padding: 16px;
    position: relative;
    width: 760px;
  }
  
  .contents-view .img-wrapper {
    align-self: stretch;
    border-radius: 20px;
    min-height: 120px;
    overflow: hidden;
    position: relative;
    width: 200px;
  }
  
  .contents-view .image-5 {
    height: 170px;
    left: 144px;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 56px;
  }
  
  .contents-view .frame-7 {
    align-items: flex-start;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    gap: 6px;
    padding: 6px 16px;
    position: relative;
  }
  
  .contents-view .text-wrapper-12 {
    align-self: stretch;
    color: #000000;
    font-family: "GenEi Gothic M-SemiLight", Helvetica;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 32px;
    margin-top: -1.00px;
    position: relative;
  }
  
  .contents-view .text-wrapper-13 {
    align-self: stretch;
    color: #000000;
    font-family: "GenEi Gothic M-SemiLight", Helvetica;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 24px;
    opacity: 0.7;
    position: relative;
  }
  
  .contents-view .text-wrapper-14 {
    align-self: stretch;
    color: #000000;
    font-family: "GenEi Gothic M-SemiLight", Helvetica;
    font-size: 11px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 22px;
    opacity: 0.5;
    position: relative;
  }
  
  .contents-view .image-6 {
    height: 120px;
    left: 144px;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 56px;
  }
  
  .contents-view .text-wrapper-15 {
    align-self: stretch;
    color: #000000;
    font-family: "GenEi Gothic M-SemiLight", Helvetica;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 32px;
    margin-top: -1.00px;
    position: relative;
  }
  
  .contents-view .frame-8 {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    gap: 24px;
    justify-content: center;
    margin-left: -160.00px;
    margin-right: -160.00px;
    position: relative;
    width: 760px;
  }
  
  .contents-view .text-wrapper-16 {
    align-self: stretch;
    color: #000000;
    font-family: "Helvetica Neue-Light", Helvetica;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 18px;
    margin-top: -1.00px;
    opacity: 0.5;
    position: relative;
  }
  
  .contents-view .text-wrapper-17 {
    align-self: stretch;
    color: #000000;
    font-family: "GenEi Gothic M-SemiLight", Helvetica;
    font-size: 26px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 40px;
    margin-top: -1.00px;
    position: relative;
  }
  
  .contents-view .p {
    align-self: stretch;
    color: #000000;
    font-family: "Helvetica Neue-Light", Helvetica;
    font-size: 36px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 48px;
    position: relative;
  }
  
  .contents-view .span {
    font-weight: 300;
  }
  
  .contents-view .text-wrapper-18 {
    font-family: "GenEi Gothic M-Light", Helvetica;
    font-weight: 300;
  }
  
  .contents-view .activity {
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    flex-wrap: wrap;
    gap: 80px 24px;
    justify-content: center;
    max-width: 920px;
    position: relative;
    width: 100%;
  }
  
  .contents-view .frame-9 {
    align-items: flex-start;
    display: flex;
    gap: 24px;
    margin-left: -240.00px;
    margin-right: -240.00px;
    position: relative;
    width: 920px;
  }
  
  .contents-view .frame-10 {
    align-items: flex-start;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    gap: 12px;
    padding: 8px 0px;
    position: relative;
  }
  
  .contents-view .text-wrapper-19 {
    align-self: stretch;
    color: #000000;
    font-family: "Helvetica Neue-Light", Helvetica;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 24px;
    margin-top: -1.00px;
    position: relative;
  }
  
  .contents-view .text-wrapper-20 {
    align-self: stretch;
    color: #000000;
    font-family: "GenEi Gothic M-SemiLight", Helvetica;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 32px;
    position: relative;
  }
  
  .contents-view .DAO {
    align-self: stretch;
    color: #000000;
    font-family: "GenEi Gothic M-Light", Helvetica;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 26px;
    position: relative;
  }
  
  .contents-view .text-wrapper-21 {
    font-family: "Helvetica Neue-Light", Helvetica;
    font-weight: 300;
  }
  
  .contents-view .element-2 {
    border-radius: 20px;
    flex: 1;
    flex-grow: 1;
    height: 248px;
    overflow: hidden;
    position: relative;
  }
  
  .contents-view .image-7 {
    height: 248px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 208px;
  }
  
  .contents-view .text-wrapper-22 {
    align-self: stretch;
    color: #000000;
    font-family: "GenEi Gothic M-SemiLight", Helvetica;
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 26px;
    position: relative;
  }
  
  .contents-view .activity-2 {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 24px;
    position: relative;
    width: 100%;
  }
  
  .contents-view .frame-11 {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    gap: 24px;
    justify-content: center;
    margin-left: -320.00px;
    margin-right: -320.00px;
    position: relative;
    width: 1080px;
  }
  
  .contents-view .frame-12 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-left: -128.00px;
    opacity: 0.5;
    position: relative;
    width: 200px;
  }
  
  .contents-view .element-3 {
    align-self: stretch;
    border-radius: 15px;
    height: 186px;
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  
  .contents-view .image-8 {
    height: 240px;
    left: -5033px;
    object-fit: cover;
    position: absolute;
    top: -5228px;
    width: 330px;
  }
  
  .contents-view .frame-13 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 6px;
    padding: 0px 6px;
    position: relative;
    width: 100%;
  }
  
  .contents-view .text-wrapper-23 {
    align-self: stretch;
    color: #000000;
    font-family: "Helvetica Neue-Light", Helvetica;
    font-size: 13.5px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 18px;
    margin-top: -0.75px;
    position: relative;
  }
  
  .contents-view .text-wrapper-24 {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    align-self: stretch;
    color: #000000;
    display: -webkit-box;
    font-family: "GenEi Gothic M-SemiLight", Helvetica;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 24px;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
  }
  
  .contents-view .text-wrapper-25 {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    align-self: stretch;
    color: #000000;
    display: -webkit-box;
    font-family: "GenEi Gothic M-SemiLight", Helvetica;
    font-size: 8.2px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 16.5px;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
  }
  
  .contents-view .frame-14 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 12px;
    opacity: 0.5;
    position: relative;
    width: 200px;
  }
  
  .contents-view .image-9 {
    height: 240px;
    left: -5257px;
    object-fit: cover;
    position: absolute;
    top: -5228px;
    width: 330px;
  }
  
  .contents-view .frame-15 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 12px;
    position: relative;
    width: 440px;
  }
  
  .contents-view .element-4 {
    align-self: stretch;
    background-image: url(./image-19.png);
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 20px;
    height: 248px;
    position: relative;
    width: 100%;
  }
  
  .contents-view .text-wrapper-26 {
    align-self: stretch;
    color: #000000;
    font-family: "GenEi Gothic M-SemiLight", Helvetica;
    font-size: 11px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 22px;
    position: relative;
  }
  
  .contents-view .image-10 {
    height: 240px;
    left: -5945px;
    object-fit: cover;
    position: absolute;
    top: -5228px;
    width: 330px;
  }
  
  .contents-view .text-wrapper-27 {
    align-self: stretch;
    color: #000000;
    font-family: "GenEi Gothic M-SemiLight", Helvetica;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 24px;
    position: relative;
  }
  
  .contents-view .frame-16 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-right: -128.00px;
    opacity: 0.5;
    position: relative;
    width: 200px;
  }
  
  .contents-view .image-11 {
    height: 240px;
    left: -6169px;
    object-fit: cover;
    position: absolute;
    top: -5228px;
    width: 330px;
  }
  
  .contents-view .frame-17 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 30px;
    position: relative;
  }
  
  .contents-view .prev-2 {
    height: 19.2px;
    margin-left: -0.70px;
    position: relative;
    width: 10.04px;
  }
  
  .contents-view .element-5 {
    color: transparent;
    font-family: "Helvetica Neue-Light", Helvetica;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 24px;
    margin-top: -1.00px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
  
  .contents-view .text-wrapper-28 {
    color: #000000;
  }
  
  .contents-view .text-wrapper-29 {
    color: #0000004c;
  }
  
  .contents-view .next-2 {
    height: 19.2px;
    margin-right: -0.70px;
    position: relative;
    width: 10.04px;
  }
  
  .contents-view .activity-3 {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 80px;
    max-width: 600px;
    position: relative;
    width: 100%;
  }
  
  .contents-view .frame-18 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 24px;
    position: relative;
    width: 100%;
  }
  
  .contents-view .frame-wrapper {
    align-items: flex-start;
    align-self: stretch;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: var(--elevation-y10);
    display: flex;
    flex: 0 0 auto;
    gap: 24px;
    padding: 24px;
    position: relative;
    width: 100%;
  }
  
  .contents-view .frame-19 {
    align-items: flex-start;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    gap: 32px;
    justify-content: center;
    position: relative;
  }
  
  .contents-view .frame-20 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    position: relative;
    width: 100%;
  }
  
  .contents-view .DAO-2 {
    align-self: stretch;
    color: #000000;
    font-family: "GenEi Gothic M-Light", Helvetica;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 22px;
    opacity: 0.5;
    position: relative;
  }
  
  .contents-view .frame-21 {
    align-items: center;
    align-self: stretch;
    background-color: #f0f0f4;
    border-radius: 40px;
    display: flex;
    flex: 0 0 auto;
    gap: 16px;
    padding: 16px;
    position: relative;
    width: 100%;
  }
  
  .contents-view .image-12 {
    height: 235px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 200px;
  }
  
  .contents-view .zoom {
    align-self: stretch;
    color: #000000;
    font-family: "Helvetica Neue-Light", Helvetica;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 24px;
    opacity: 0.7;
    position: relative;
  }
  
  .contents-view .button {
    -webkit-backdrop-filter: blur(20px) brightness(100%);
    align-items: flex-start;
    backdrop-filter: blur(20px) brightness(100%);
    background-color: #ffffff;
    border-radius: 5px;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 6px;
    padding: 12px 18px;
    position: relative;
  }
  
  .contents-view .div-wrapper {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    position: relative;
  }
  
  .contents-view .text-wrapper-30 {
    color: #000000;
    font-family: "Helvetica Neue-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1.00px;
    position: relative;
    width: fit-content;
  }
  
  .contents-view .text-wrapper-31 {
    color: #000000;
    font-family: "SF Pro-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1.00px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  