@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --body-b1-EN-font-family: "Helvetica Neue", Helvetica;
  --body-b1-EN-font-size: 15px;
  --body-b1-EN-font-style: normal;
  --body-b1-EN-font-weight: 300;
  --body-b1-EN-letter-spacing: 0px;
  --body-b1-EN-line-height: 48px;
  --body-b1-JP-font-family: "GenEi Gothic M", Helvetica;
  --body-b1-JP-font-size: 15px;
  --body-b1-JP-font-style: normal;
  --body-b1-JP-font-weight: 300;
  --body-b1-JP-letter-spacing: 0px;
  --body-b1-JP-line-height: 48px;
  --body-b2-EN-font-family: "Helvetica Neue", Helvetica;
  --body-b2-EN-font-size: 15px;
  --body-b2-EN-font-style: normal;
  --body-b2-EN-font-weight: 400;
  --body-b2-EN-letter-spacing: 0px;
  --body-b2-EN-line-height: 32px;
  --body-b2-JP-font-family: "GenEi Gothic M", Helvetica;
  --body-b2-JP-font-size: 15px;
  --body-b2-JP-font-style: normal;
  --body-b2-JP-font-weight: 400;
  --body-b2-JP-letter-spacing: 0px;
  --body-b2-JP-line-height: 32px;
  --body-b3-EN-font-family: "Helvetica Neue", Helvetica;
  --body-b3-EN-font-size: 14px;
  --body-b3-EN-font-style: normal;
  --body-b3-EN-font-weight: 300;
  --body-b3-EN-letter-spacing: 0px;
  --body-b3-EN-line-height: 24px;
  --body-b3-JP-font-family: "GenEi Gothic M", Helvetica;
  --body-b3-JP-font-size: 14px;
  --body-b3-JP-font-style: normal;
  --body-b3-JP-font-weight: 300;
  --body-b3-JP-letter-spacing: 0px;
  --body-b3-JP-line-height: 24px;
  --body-b4-EN-font-family: "Helvetica Neue", Helvetica;
  --body-b4-EN-font-size: 13px;
  --body-b4-EN-font-style: normal;
  --body-b4-EN-font-weight: 300;
  --body-b4-EN-letter-spacing: 0px;
  --body-b4-EN-line-height: 24px;
  --body-b4-JP-font-family: "GenEi Gothic M", Helvetica;
  --body-b4-JP-font-size: 13px;
  --body-b4-JP-font-style: normal;
  --body-b4-JP-font-weight: 300;
  --body-b4-JP-letter-spacing: 0px;
  --body-b4-JP-line-height: 24px;
  --body-b5-EN-font-family: "Helvetica Neue", Helvetica;
  --body-b5-EN-font-size: 11px;
  --body-b5-EN-font-style: normal;
  --body-b5-EN-font-weight: 400;
  --body-b5-EN-letter-spacing: 0px;
  --body-b5-EN-line-height: 22px;
  --body-b5-JP-font-family: "GenEi Gothic M", Helvetica;
  --body-b5-JP-font-size: 11px;
  --body-b5-JP-font-style: normal;
  --body-b5-JP-font-weight: 300;
  --body-b5-JP-letter-spacing: 0px;
  --body-b5-JP-line-height: 22px;
  --body-b6-EN-font-family: "Helvetica Neue", Helvetica;
  --body-b6-EN-font-size: 10px;
  --body-b6-EN-font-style: normal;
  --body-b6-EN-font-weight: 400;
  --body-b6-EN-letter-spacing: 0px;
  --body-b6-EN-line-height: 18px;
  --body-b6-JP-font-family: "GenEi Gothic M", Helvetica;
  --body-b6-JP-font-size: 10px;
  --body-b6-JP-font-style: normal;
  --body-b6-JP-font-weight: 300;
  --body-b6-JP-letter-spacing: 0px;
  --body-b6-JP-line-height: 18px;
  --button-meidum-JP-font-family: "GenEi Gothic M", Helvetica;
  --button-meidum-JP-font-size: 14px;
  --button-meidum-JP-font-style: normal;
  --button-meidum-JP-font-weight: 400;
  --button-meidum-JP-letter-spacing: 0px;
  --button-meidum-JP-line-height: 19px;
  --button-small-JP-font-family: "GenEi Gothic M", Helvetica;
  --button-small-JP-font-size: 12px;
  --button-small-JP-font-style: normal;
  --button-small-JP-font-weight: 400;
  --button-small-JP-letter-spacing: 0px;
  --button-small-JP-line-height: 14px;
  --elevation-y10: 0px 10px 20px 0px rgba(0, 0, 0, 0.08);
  --elevation-y5: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
  --head-h1-EN-font-family: "Helvetica Neue", Helvetica;
  --head-h1-EN-font-size: 44px;
  --head-h1-EN-font-style: normal;
  --head-h1-EN-font-weight: 300;
  --head-h1-EN-letter-spacing: 0px;
  --head-h1-EN-line-height: 48px;
  --head-h1-JP-font-family: "GenEi Gothic M", Helvetica;
  --head-h1-JP-font-size: 40px;
  --head-h1-JP-font-style: normal;
  --head-h1-JP-font-weight: 300;
  --head-h1-JP-letter-spacing: 0px;
  --head-h1-JP-line-height: 48px;
  --head-h2-EN-font-family: "Helvetica Neue", Helvetica;
  --head-h2-EN-font-size: 40px;
  --head-h2-EN-font-style: normal;
  --head-h2-EN-font-weight: 300;
  --head-h2-EN-letter-spacing: 0px;
  --head-h2-EN-line-height: 48px;
  --head-h2-JP-font-family: "GenEi Gothic M", Helvetica;
  --head-h2-JP-font-size: 36px;
  --head-h2-JP-font-style: normal;
  --head-h2-JP-font-weight: 300;
  --head-h2-JP-letter-spacing: 0px;
  --head-h2-JP-line-height: 48px;
  --head-h3-EN-font-family: "Helvetica Neue", Helvetica;
  --head-h3-EN-font-size: 34px;
  --head-h3-EN-font-style: normal;
  --head-h3-EN-font-weight: 300;
  --head-h3-EN-letter-spacing: 0px;
  --head-h3-EN-line-height: 40px;
  --head-h3-JP-font-family: "GenEi Gothic M", Helvetica;
  --head-h3-JP-font-size: 32px;
  --head-h3-JP-font-style: normal;
  --head-h3-JP-font-weight: 300;
  --head-h3-JP-letter-spacing: 0px;
  --head-h3-JP-line-height: 40px;
  --head-h4-EN-font-family: "Helvetica Neue", Helvetica;
  --head-h4-EN-font-size: 26px;
  --head-h4-EN-font-style: normal;
  --head-h4-EN-font-weight: 300;
  --head-h4-EN-letter-spacing: 0px;
  --head-h4-EN-line-height: 32px;
  --head-h4-JP-font-family: "GenEi Gothic M", Helvetica;
  --head-h4-JP-font-size: 24px;
  --head-h4-JP-font-style: normal;
  --head-h4-JP-font-weight: 400;
  --head-h4-JP-letter-spacing: 0px;
  --head-h4-JP-line-height: 32px;
  --head-h5-EN-font-family: "Helvetica Neue", Helvetica;
  --head-h5-EN-font-size: 21px;
  --head-h5-EN-font-style: normal;
  --head-h5-EN-font-weight: 300;
  --head-h5-EN-letter-spacing: 0px;
  --head-h5-EN-line-height: 32px;
  --head-h5-JP-font-family: "GenEi Gothic M", Helvetica;
  --head-h5-JP-font-size: 20px;
  --head-h5-JP-font-style: normal;
  --head-h5-JP-font-weight: 300;
  --head-h5-JP-letter-spacing: 0px;
  --head-h5-JP-line-height: 32px;
  --head-h6-EN-font-family: "Helvetica Neue", Helvetica;
  --head-h6-EN-font-size: 14px;
  --head-h6-EN-font-style: normal;
  --head-h6-EN-font-weight: 300;
  --head-h6-EN-letter-spacing: 0px;
  --head-h6-EN-line-height: 18px;
  --head-h6-JP-font-family: "GenEi Gothic M", Helvetica;
  --head-h6-JP-font-size: 14px;
  --head-h6-JP-font-style: normal;
  --head-h6-JP-font-weight: 400;
  --head-h6-JP-letter-spacing: 0px;
  --head-h6-JP-line-height: 18px;
  --subhead-s1-EN-font-family: "Helvetica Neue", Helvetica;
  --subhead-s1-EN-font-size: 18px;
  --subhead-s1-EN-font-style: normal;
  --subhead-s1-EN-font-weight: 300;
  --subhead-s1-EN-letter-spacing: 0px;
  --subhead-s1-EN-line-height: 24px;
  --subhead-s1-JP-font-family: "GenEi Gothic M", Helvetica;
  --subhead-s1-JP-font-size: 18px;
  --subhead-s1-JP-font-style: normal;
  --subhead-s1-JP-font-weight: 300;
  --subhead-s1-JP-letter-spacing: 0px;
  --subhead-s1-JP-line-height: 24px;
  --subhead-s2-EN-font-family: "Helvetica Neue", Helvetica;
  --subhead-s2-EN-font-size: 16px;
  --subhead-s2-EN-font-style: normal;
  --subhead-s2-EN-font-weight: 300;
  --subhead-s2-EN-letter-spacing: 0px;
  --subhead-s2-EN-line-height: 20px;
  --subhead-s2-JP-font-family: "GenEi Gothic M", Helvetica;
  --subhead-s2-JP-font-size: 16px;
  --subhead-s2-JP-font-style: normal;
  --subhead-s2-JP-font-weight: 300;
  --subhead-s2-JP-letter-spacing: 0px;
  --subhead-s2-JP-line-height: 20px;
  --subhead-s3-EN-font-family: "Helvetica Neue", Helvetica;
  --subhead-s3-EN-font-size: 13px;
  --subhead-s3-EN-font-style: normal;
  --subhead-s3-EN-font-weight: 300;
  --subhead-s3-EN-letter-spacing: 0px;
  --subhead-s3-EN-line-height: 17px;
  --subhead-s3-JP-font-family: "GenEi Gothic M", Helvetica;
  --subhead-s3-JP-font-size: 13px;
  --subhead-s3-JP-font-style: normal;
  --subhead-s3-JP-font-weight: 400;
  --subhead-s3-JP-letter-spacing: 0px;
  --subhead-s3-JP-line-height: 17px;
  --subhead-s4-EN-font-family: "Helvetica Neue", Helvetica;
  --subhead-s4-EN-font-size: 12px;
  --subhead-s4-EN-font-style: normal;
  --subhead-s4-EN-font-weight: 300;
  --subhead-s4-EN-letter-spacing: 0px;
  --subhead-s4-EN-line-height: 16px;
  --subhead-s4-JP-font-family: "GenEi Gothic M", Helvetica;
  --subhead-s4-JP-font-size: 12px;
  --subhead-s4-JP-font-style: normal;
  --subhead-s4-JP-font-weight: 300;
  --subhead-s4-JP-letter-spacing: 0px;
  --subhead-s4-JP-line-height: 16px;
  --subhead-s5-EN-font-family: "Helvetica Neue", Helvetica;
  --subhead-s5-EN-font-size: 11px;
  --subhead-s5-EN-font-style: normal;
  --subhead-s5-EN-font-weight: 300;
  --subhead-s5-EN-letter-spacing: 0px;
  --subhead-s5-EN-line-height: 15px;
  --subhead-s5-JP-font-family: "GenEi Gothic M", Helvetica;
  --subhead-s5-JP-font-size: 11px;
  --subhead-s5-JP-font-style: normal;
  --subhead-s5-JP-font-weight: 300;
  --subhead-s5-JP-letter-spacing: 0px;
  --subhead-s5-JP-line-height: 15px;
}
